---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Hi! My name is Samuel Verdejo de Toro, I’m a Senior Software Engineer based on 🇪🇸 Spain, currently at Cabify with almost 5 years of experience.
    <br/>
    I am mainly focused on backend development, implementing best practices in terms of software design, architecture and AGILE development.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Senior Software Engineer"
      subtitle="From April, 2024 to present at Cabify, Madrid, Spain"
    >
    </TimeLineElement>
    <TimeLineElement
      title="DevOps Engineer and Software Architect"
			subtitle="From March, 2023 to April, 2024 at Apex Group, Madrid, Spain"
    >
    Helping 3 Software Engineering squads through DevOps lifecycle, while refactoring Legacy codebases to Cloud-based and Event-Driven solutions to ensure testability, auditability, Developer Experience and best <i>time-to-market</i>.
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer and Cloud analyst"
      subtitle="From November, 2021 to March, 2023 at Global Alquemy, Albacete, Spain"
    >
    Full-stack engineering and main Cloud analyst, with <i>end-to-end</i> contact with customer and stakeholders, requirements gathering and cost-optimized cloud-based solutions
  </TimeLineElement>
    <TimeLineElement
      title="Junior DevSecOps"
      subtitle="From January, 2020 to November, 2021 OPINATOR, Madrid, Spain"
    >
    Full-stack engineering improving and implementing core functionalities of a SaaS solution deployed on AWS, with hunders of thousands of final users.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="MSc. in Computer Engineering"
      subtitle="2020 to 2021 (only thesis left) at UCLM, Albacete, Spain"
    />
    <TimeLineElement
      title="BSc. in Computer Engineering (Data Mining and Computer Science)"
      subtitle="2016 to 2020 at UCLM, Albacete, Spain"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> AWS Certified Solutions Architect (SAA-C03)</a>
    </li>
    <li>
      <a href="#" target="_blank"> AWS Certified Cloud Practitioner (CLF-001)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Azure Fundamentals (AZ-900)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Professional Scrum Master (PSM-I)</a>
    </li>
  </ul>
  <!-- 
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python, C#, TypeScript</li>
    <li>TypeScript</li>
    <li>C#</li>
    <li>Soft. Architecture</li>
    <li>Entity Framework</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
  -->
</BaseLayout>
